/************************* reset css **********************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/********************** variáveis CSS **************************/
:root {
    --bg-white: rgb(255, 255, 255);
    --color-primary : #1c3c6d;
    --color-secondary: #e12726;
}

/**************** Fim dos RESETs *********************/

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-white);
}

.container{
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.header {
    position: absolute;
    left: 15%;
    display: flex;
    width: 85%;
    height: 10vh;
    background-color: var(--color-secondary);
}

h3{
  margin-top: 10px;
  text-align: center;
}

.menu {
    position: relative;
    display: block;
    text-align: center;
    min-height: 100vh;
    width: 15%;
    background-color: var(--color-primary);
}

.logo{
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;
}

.sidenav{
    height:fit-content;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.active {
  background-color: rgb(27, 6, 98);
  color: white;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #d1c1c1;
}

.dropdown-container {
  display: none;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.top5palavras{
  position: relative;
  border-radius: 25px;
  border: 1px solid #000000;
  padding: 20px;
  width: 25%;
  height: fit-content;
  left: 69%;
}

.layout_feedbackGeral, .layout_feedback{
  position: absolute;
  width:100%;
  max-width:618px; 
  height: 100%; 
  max-height: 309px;
  margin-left: 50px;
}

.layout_top5{
  position: relative;
  width:100%;
  max-width:300px;
  height: fit-content;
  max-height: 200px;
  
}

.main-table{
  position: absolute;
  display: flex;
  width: 85%;
  height: 35%;
  margin-top: 20vh;
  margin-left: 15%;
}

.table-fed{
  position: relative;
  min-width: 250px;
  min-height: 250px;
}

td{
  border: 1px solid black;
}

.btn-add-fed{
  padding: 10px;
}

/**************** Começo Table *********************/

td, th {
  padding: 5px;
}

th {
  cursor: pointer;
}

.myFeedback{
  display:grid;
  position: relative;
  margin-top: 33%;
  margin-left: 50px;
  width: 80%;
  height: fit-content;
}

/**************** Fim Table *********************/

.probabilidade{
 display:flex;
 position: relative;
}

p{
  margin-top: 30px;
  margin-right: 50px;
}

button{
  padding: 8px;
  margin-bottom:5px ;
  background-color: var(--color-primary);
  border: 0;
  cursor: pointer;
  
  color: var(--bg-white);
}